{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>My stupid server</h1>
                    <h3><a href="{{ url_for('item.list_items') }}">Items</a></h3>
                    <h3><a href="{{ url_for('refrigerator.list_refrigerators') }}">Refrigerators</a></h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
