{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Methods{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/>
                {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Methods</h1>
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="20%"> Name</th>
                            <th width="40%"> Description</th>
                            <th width="40%"> Fill the template</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Compare refrigerators</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                {{ wtf.quick_form(refrigerator_form) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Compare shelves</td>
                            <td>Compare between 2 shelves</td>
                            <td>
                                {% if template %}
                                {{ wtf.quick_form(shelf_form) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Compare items</td>
                            <td>Compare between 2 items</td>
                            <td>
                                {% if template %}
                                {{ wtf.quick_form(item_form) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Place left in refrigerator</td>
                            <td>Check how many space is left in the chosen refrigerator</td>
                            <td>
                                {% if template %}
                                {{ wtf.quick_form(choose_refrigerator) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Add a shelf</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>add an item</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>add a refrigerator</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>take out an item</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>cleanup</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>whats to eat</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                               {{ wtf.quick_form(choose_refrigerator1) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>sorting</td>
                            <td>Compare between 2 refrigerators</td>
                            <td>
                                {% if template %}
                                insert this name
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}